In [7]:
import pandas as pd
 
# start data dictionary.
data_dict = {'Property': ["Wilson Ave", "Longfield","South 28th", "North 41st", "Garland"],
              
             'Income': [50215, 32175, 85254, 65412, 96231],
              
             'Expenses': [125, 12512, 65125, 89125,32515] }

 
# Create DataFrame
data = pd.DataFrame(data_dict)
 
# Write to CSV file
data.to_csv("PropertyData.csv")

In [8]:
import pandas as pd

Property = pd.read_csv('PropertyData.csv')

print(Property)

   Unnamed: 0    Property  Income  Expenses
0           0  Wilson Ave   50215       125
1           1   Longfield   32175     12512
2           2  South 28th   85254     65125
3           3  North 41st   65412     89125
4           4     Garland   96231     32515

In [9]:
# Tuple
tuple01 = ("John", "Sue", "Susan", "Bob")
tuple02 = (10,12,2,3,45)
tuple03 = (True, False, True, False, False)
tuple04 = ("test", 45, True, 23, "tester")
print(tuple01)
print(tuple02)
print(tuple03)
print(tuple04)
print(type(tuple01))
print(len(tuple01))

('John', 'Sue', 'Susan', 'Bob')
(10, 12, 2, 3, 45)
(True, False, True, False, False)
('test', 45, True, 23, 'tester')
<class 'tuple'>
4