In [ ]:
import pandas as pd
 
# start data dictionary.
data_dict = {'Property': ["Wilson Ave", "Broadway","Longfield","South 28th", "North 41st", "Garland"],
             
             'Misc': [321, "", 12357, 2350, 1252, 631],
           
             'Misc02': [50215, "", 32175, 85254, 65412, 96231],

             'Travel': [12354, "", 8954, 3580, 5875, 65],
              
             'Income': [50215, 0, 32175, 85254, 65412, 96231],
              
             'Expenses': [125, 0, 12512, 65125, 89125,32515] }

 
# Create DataFrame
data = pd.DataFrame(data_dict)
 
# Write to CSV file
data.to_csv("PropertyData02.csv")

# Print the output.
print(data)

     Property   Misc Misc02 Travel  Income  Expenses
0  Wilson Ave    321  50215  12354   50215       125
1    Broadway                            0         0
2   Longfield  12357  32175   8954   32175     12512
3  South 28th   2350  85254   3580   85254     65125
4  North 41st   1252  65412   5875   65412     89125
5     Garland    631  96231     65   96231     32515

In [ ]:
# Replace null value with 145
import pandas as pd

df=pd.read_csv('PropertyData02.csv')

df.fillna(145,inplace=True)

print(df.to_string())

# Write to CSV file
df.to_csv("PropertyData03.csv")

   Unnamed: 0    Property     Misc   Misc02   Travel  Income  Expenses
0           0  Wilson Ave    321.0  50215.0  12354.0   50215       125
1           1    Broadway    145.0    145.0    145.0       0         0
2           2   Longfield  12357.0  32175.0   8954.0   32175     12512
3           3  South 28th   2350.0  85254.0   3580.0   85254     65125
4           4  North 41st   1252.0  65412.0   5875.0   65412     89125
5           5     Garland    631.0  96231.0     65.0   96231     32515

In [ ]:
# Replace 0 value with another value
import pandas as pd

df=pd.read_csv('PropertyData03.csv')

df['Income']   = df['Income'].replace(0, 11212)
df['Expenses'] = df['Expenses'].replace(0, 112)

print(df)

# Write to CSV file
df.to_csv("PropertyData04.csv")

   Unnamed: 0.1  Unnamed: 0    Property     Misc   Misc02   Travel  Income  \
0             0           0  Wilson Ave    321.0  50215.0  12354.0   50215
1             1           1    Broadway    145.0    145.0    145.0   11212
2             2           2   Longfield  12357.0  32175.0   8954.0   32175
3             3           3  South 28th   2350.0  85254.0   3580.0   85254
4             4           4  North 41st   1252.0  65412.0   5875.0   65412
5             5           5     Garland    631.0  96231.0     65.0   96231

   Expenses
0       125
1       112
2     12512
3     65125
4     89125
5     32515