In [9]:
#sum data
import pandas as pd

data = [[1050, 1458, 1871], [1050, 14565, 7898], [259, 250, 7898]]

df = pd.DataFrame(data)

print(df.sum())

0     2359
1    16273
2    17667
dtype: int64

In [10]:
#find the mean -Mean - The average value

import pandas as pd

data = [[1050, 1458, 1871], [1050, 14565, 7898], [259, 250, 7898]]

df = pd.DataFrame(data)

print(df.mean())

0     786.333333
1    5424.333333
2    5889.000000
dtype: float64

In [11]:
#find the Mode - The most common value

import pandas as pd

data = [[1050, 1458, 1871], [1050, 14565, 7898], [259, 250, 7898]]

df = pd.DataFrame(data)

print(df.mode())

        0      1       2
0  1050.0    250  7898.0
1     NaN   1458     NaN
2     NaN  14565     NaN

In [13]:
#Median - The mid point value
import pandas as pd

data = [[1050, 1458, 1871], [1050, 14565, 7898], [259, 250, 7898]]

df = pd.DataFrame(data)

print(df.median())

0    1050.0
1    1458.0
2    7898.0
dtype: float64

In [14]:
#find the maximum and minimum number
import pandas as pd

data = [[1050, 1458, 1871], [1050, 14565, 7898], [259, 250, 7898]]

df = pd.DataFrame(data)

print(df.max())
print(df.min())

0     1050
1    14565
2     7898
dtype: int64
0     259
1     250
2    1871
dtype: int64

In [17]:
#find the average 
import numpy

data = [1050, 1458, 1871, 1050, 14565, 7898, 259, 250, 7898]

x = numpy.mean(data)

print(x)

4033.222222222222

In [19]:
#find the middle value:
import numpy

data = [1050, 1458, 1871, 1050, 14565, 7898, 259, 250, 7898]

x = numpy.median(data)

print(x)

1458.0

In [20]:
#Percentiles are used in statistics to give you a number that describes the value that a given percent of the values are lower than.
import numpy

data = [1050, 1458, 1871, 1050, 14565, 7898, 259, 250, 7898]

x = numpy.percentile(data, 75)

print(x)

7898.0

In [21]:
data1 = [1050, 1458, 1871, 1050, 14565, 7898, 259, 250, 7898]
data2 = ["Woodland", "Garland", "Broadway", "South 28th", "North 37th", "Happy Lane", "Busy Nerves", "Dumlap", "Waverly Lane"]

data3 = data1 + data2
print(data3)

[1050, 1458, 1871, 1050, 14565, 7898, 259, 250, 7898, 'Woodland', 'Garland', 'Broadway', 'South 28th', 'North 37th', 'Happy Lane', 'Busy Nerves', 'Dumlap', 'Waverly Lane']

In [22]:
data1 = [1050, 1458, 1871, 1050, 14565, 7898, 259, 250, 7898]

x = data1.count(9)

print(x)

0