In [ ]:
import pandas as pd
 
# start data dictionary.
data_dict = {'Property': ["Wilson Ave", "Longfield","South 28th", "North 41st", "Garland"],
              
             'Income': [50215, 32175, 85254, 65412, 96231],
              
             'Expenses': [125, 12512, 65125, 89125,32515] }

 
# Create DataFrame
data = pd.DataFrame(data_dict)
 
# Write to CSV file
data.to_csv("PropertyData.csv")

In [ ]:
import pandas as pd

Property = pd.read_csv('PropertyData.csv')

print(Property)

   Unnamed: 0    Property  Income  Expenses
0           0  Wilson Ave   50215       125
1           1   Longfield   32175     12512
2           2  South 28th   85254     65125
3           3  North 41st   65412     89125
4           4     Garland   96231     32515