In [ ]:
import pandas as pd
 
# start data dictionary.
data_dict = {'Property': ["Wilson Ave", "Broadway","Longfield","South 28th", "North 41st", "Garland"],
             
             'Misc': [321, "", 12357, 2350, 1252, 631],
           
             'Misc02': [50215, "", 32175, 85254, 65412, 96231],

             'Travel': [12354, "", 8954, 3580, 5875, 65],
              
             'Income': [50215, 0, 32175, 85254, 65412, 96231],
              
             'Expenses': [125, 0, 12512, 65125, 89125,32515] }

 
# Create DataFrame
data = pd.DataFrame(data_dict)
 
# Write to CSV file
data.to_csv("PropertyData02.csv")

# Print the output.
print(data)

     Property   Misc Misc02 Travel  Income  Expenses
0  Wilson Ave    321  50215  12354   50215       125
1    Broadway                            0         0
2   Longfield  12357  32175   8954   32175     12512
3  South 28th   2350  85254   3580   85254     65125
4  North 41st   1252  65412   5875   65412     89125
5     Garland    631  96231     65   96231     32515